VITE_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
VITE_CHAIN_ID=31337
VITE_START_BLOCK=0
VITE_IPFS_API_KEY=
VITE_IPFS_API_SECRET=
VITE_IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs/
